/*
h1 {
    color: blue;
    border-bottom: double 6px rgb(29, 194, 235);
}
*/
/*navbar navbar-expand-lg navbar-light{
    background-color: white !important;
}

nav-link{
    background-color: white;
}
*/