{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
<body>
    <h1>じゃんけんコーナー</h1>
    おれとガンダムしようぜ
    <form action="/batoope" method="POST">
        <div class="row mt-2">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="btn-group" role="group" aria-label="is_gundam toggle">
                    <input type="radio"  class="btn-check "name="gundam" value="0" checked>
                    <label class="btn btn-outline-primary" for="is_gundam1">汎用機</label>
                    <input type="radio"  class="btn-check "name="gundam" value="1" checked>
                    <label class="btn btn-outline-primary" for="is_gundam2">支援機</label>
                    <input type="radio"  class="btn-check "name="gundam" value="2" checked>
                    <label class="btn btn-outline-primary" for="is_gundam3">強襲機</label>
                    <button type="submit">出撃</button>
                </div>
            </div>
        </div>
    </form>
</body>
</div>

{% endblock %}