
{% extends "layout.html" %}

{% block content %}

<body>
<div class="container mt-4">
    <div class="col-3">
    </div>
    <h1>index.html表示してます</h1>
    　　　　 　　　　　／￣＼<br>
　　　　　　　　　|　　　 |<br>
　　　　 　　　　　＼＿／<br>
　　　　　　　　　　　|<br>
　　　　　　 　／ ￣ ￣　＼<br>
　　　　　　／　　＼　／　　＼<br>
　　　　 ／　　 ⌒　　　⌒ 　　＼　よくぞこのページを開いてくれた<br>
　　　　 |　　　　（__人__）　　 |　褒美としてオプーナを買う権利をやろう<br>
　　　　 ＼　　　 ｀ ⌒´　　　／　　　☆<br>
　　　　　/ヽ､--ー､＿＿,-‐´　　＼─／<br>
　　 　／　> 　　ヽ▼●▼<＼　　||ｰ､.<br>
　 　/ ヽ､　　　＼ i　|｡|　|/　 ヽ　(ニ､｀ヽ.<br>
　　.l　　　ヽ 　　　 l　|｡|　| ｒ-､y　｀ﾆ　 ﾉ ＼<br>
　　l　　　　 |　　 　|ー─ | ￣ l 　　｀~ヽ＿ノ＿＿＿_<br>
　　　　　／￣￣￣￣ヽ-'ヽ--'　　／　オプーナ　 ／|<br>
　　　　.|￣￣￣￣￣￣|／|　　　 |￣￣￣￣￣￣|／| ＿＿＿＿＿＿<br>
　／￣オプーナ／|　￣|__」／_オプーナ　　／|￣|__,」＿＿_　　　　／|<br>
　|￣￣￣￣￣|／オプーナ￣／￣￣￣￣|／ オプーナ ／|　　／　.|<br>
　|￣￣￣￣￣|￣￣￣￣￣|／l￣￣￣￣|￣￣￣￣￣|／|　／<br>
　|￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣|<br>
</div>



<script src="{{ url_for('static', filename='javascript/stopwatch.js') }}"></script>
</body>

{% endblock %}