{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>学習記録</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">学習日</th>
              <th scope="col">学習時間</th>
              <th scope="col">学習内容</th>
            </tr>
          </thead>
          <tbody>
            {% for lrecord in lrecords %}
            <tr>
              <th scope="row">{{ lrecord.id }}</th>
              <td>{{ lrecord.created_at }}</td>
              <td>{{ lrecord.nowtime }}</td>
              <td>{{ lrecord.record }}</td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
</div>
{% endblock %}