{% extends "layout.html" %}
{% block content %}
<div id="stopwatch">
    00:00:00
</div>
<ul id="buttons">
    <li><button onclick="startTimer()">Start</button></li>
    <li><button onclick="stopTimer()">Stop</button></li>
    <li><button onclick="resetTimer()">Reset</button></li>
    <li><button onclick="save()">save</button></li>
</ul>

<p class=testtime></p>
<link rel="stylesheet" href="{{ url_for('static', filename='css/stopwatch.css') }}" >
<script src="{{ url_for('static', filename='javascript/stopwatch.js') }}"></script>
{% endblock %}