{% extends "layout.html" %}

{% block content %}

<body>
    <h1>test.html表示してます</h1>
    <p>{{ chinman.thing1 }}</p>
    <p>{{ chinman.thing2 }}</p>
    <h2>それは</h2>
    <ul id="test">
        {% for seiki in chinman.things %}
            <li>{{ seiki }}</li>
        {% endfor %}
    </ul>
    <h2>女児禁制だったら？</h2>
    <ul>
        {% for seiki in chinman.things %}
            {% if seiki != 'まんこ' %}
            <li>{{ seiki }}</li>
            {% else %}
            <li>入場が禁止されました</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>あなたはロリコンです。</h1>
    <script src="{{ url_for('static', filename='javascript/sample.js') }}"></script>
</body>

{% endblock %}